@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
  font-size: 22px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: max-content;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}
